@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --title-line-height: calc(-.6 * 0.5em);
  --uva-experience-carousel-height: 40vh;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background: white;
  min-height: 100vh;
  scroll-behavior: smooth;
}

.page-wrapper {
  min-height: 100%;
}

.floating-nav-container{
  position: fixed;
  right: 1%;
  top: 5%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.floating-nav-button {
  position: relative;
  margin: 1vh;
  opacity: .6;
  color: gray;
  font-size: 50px;
  transition: all 1s ease 0;
}

.floating-nav-button:hover {
  opacity: .9;
  cursor: pointer;
}

ul.slides {
  display: block;
  height: 100%;
}

li.slide {
  position: relative;
}

/* HOME SECTION */

.home {
  overflow: hidden;
  position: relative;
  min-height: 100vh;
  /* min-width: 500px; */
}

/* .home-first-name {
  margin-top: var(--title-line-height);
  margin-bottom: var(--title-line-height);
  position: absolute;
  font-size: 55vw;
  color: transparent;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: black;
  bottom: 5%;
  left: 5%;
  animation: first-name-animation 2s ease;
}
@keyframes first-name-animation {
  0%{color: black}
  100%{color: transparent}
} */

.home-first-name {
  margin-top: var(--title-line-height);
  margin-bottom: var(--title-line-height);
  position: absolute;
  font-size: 55vw;
  color: black;
  top: 5%;
  left: 5%;
  /* margin: 0 auto; */
}

.home-last-name {
  margin-top: var(--title-line-height);
  margin-bottom: var(--title-line-height);
  position: absolute;
  color: transparent;
  font-size: 35vw;
  bottom: 5%;
  left: 5%;
  right: 5%;
  z-index: 1;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: white;
  stroke-width: 3px;
  animation: last-name-animation 2s ease 1s;
}

@keyframes last-name-animation {
  0%{color: white;}
  100%{color: transparent;}
}

.bg-img{
  position: absolute;
  /* background-image: url('../../public/IndiaMountainFullBody.jpg'),
  url('../../public/crop.png'); */
  min-height: 700px;
  max-height: 1000px;
  z-index: -1;
  object-fit: cover;
}

.bg-img-crop {
  position: absolute;
  min-height: 700px;
  max-height: 1000px;
  z-index: 1;
  object-fit: cover;
}


.home-attribute-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  position: absolute;
  margin-top: 1vh;
  width: 100vw;
}

.home-attribute-title {
  font-size: 25px;
  position: relative;

}

.home-current-status {
  font-size: 20px;
  position: relative;
  color: black;
}

.no-show {
  display: none;
}

/* ABOUT SECTION */

.about {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  position: relative;
  min-height: 100vh;
  background-color: white;
  z-index: 1;
  /* background: linear-gradient(320deg, darkblue 1%, rgb(58, 0, 58) 7%, white 30%) */
  /* background: linear-gradient(0deg, darkblue 1%, rgb(58, 0, 58) 7%, white 20%, white 80%, rgb(58, 0, 58) 92%, darkblue 99%); */
}

.about__header-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  margin: 3vh 3vw 1vh 3vw;

}

.about__headshot {
  border-radius: 100px;
  max-width: 22vw;
  max-height: 100%;
  position: relative;
  margin-right: 3vw;
}

.about__title {
  margin-bottom: var(--title-line-height);
  margin-top: var(--title-line-height);
  font-size: 20vw;
}

.about__title-media-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  margin: 0 10vw 0 4vw;
}

.about__media-icons-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.about__icon {
  width: 5vw;
  min-width: 60px;
  max-width: 100px;
  height: auto;
  margin: 0 3vh;
  background-color: black;
  color: white;
  border-radius: 20px;
  transition: background-color 0.5s ease-in;
  transition: color 0.5s ease-in;
  transition: rotate 0.5s linear;
}

.about__icon:hover {
  background-color: white;
  color: black;
  /* width: 6vw; */
  rotate: 360deg;
}

.about__content-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  margin: 0 5vh 0 5vw;
}
.about__content-section {
  margin: 10px 0px;
  font-size: 4.2vw;
  text-align: center;
}
@media screen and (min-width: 700px) {
  .about__content-section {
     font-size: 30px;
  }
}

/* EXPERIENCE SECTION */

.experience {
  --card-width: 90vw;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  position: relative;
  background: linear-gradient(120deg, darkblue, rgb(58, 0, 58), black 25%, black);
  /* background: linear-gradient(0deg, darkblue, rgb(58, 0, 58), black 20%, black 80%, rgb(58, 0, 58), darkblue); */
  min-height: 100vh;
}

.experience__title {
  font-size: 15vw;
  margin: 0 10vw;
  text-wrap: nowrap;
  color: white;
}

.experience__card-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.experience__card-subcontainer {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.experience__card {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  border-radius: 7px;
  background-color: white;
  margin: 2vh 5vw;
  width: var(--card-width);
  max-height: 60px;
  transition: border-radius .5s ease-out 2.0s;
}

.experience__card-expand {
  border-radius: 7px 7px 0px 0px;
  transition: border-radius .1s ease-out 0s;
}

.experience__card-divider1 {
  border-left: 3px solid black;
  height: 40px;
  margin: 10px 2px;
}

.experience__card-divider2 {
  border-left: 2px solid black;
  height: 40px;
  margin: 10px 2px;
}

.experience__card-divider3 {
  border-left: 1px solid black;
  height: 40px;
  margin: 10px 2px;
}

.experience__card-time {
  margin: 0px 2vw;
  font-size: 25px;
  width: 20vw;
  min-width: 230px;
}

.experience__card-organization-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  margin: 0px 2vw;
  width: 20vw;
  min-width: 250px;
  /* max-height: 60px; */
}

.experience__card-organization-logo-overflow-container {
  overflow: hidden;
  max-width: 185px;
  /* max-height: 60px; */
  align-content: center;
  margin: auto;
}

.experience__card-organization-logo {
  width: 208px;
  /* height: 208px; */
  overflow: hidden;
  margin: auto;
  opacity: .1;
}

.experience__card-organization {
  margin: 0px 1vw;
  font-size: 20px;
  z-index: 1;
  position: absolute;
}

.experience__card-position {
  margin: 0px 2vw;
  font-size: 16px;
  width: 20vw;
  min-width: 230px;
}

.experience__card-location {
  margin: 0px 2vw;
  font-size: 16px;
  min-width: 130px;
}

.experience__expand-container {
  background-color: white;
  overflow: hidden;
  width: var(--card-width);
  margin-top: -2vh;
  transition: max-height 1s ease-in-out 0s;
  border-radius: 0 0 7px 7px;
  max-height: 0px;
  padding: 0px 20px 0px 30px;
}

.experience__expand-container-open {
  max-height: 400px;
  transition: max-height 1s ease-in-out 0s;
  list-style-type: circle;
}

.experience__expand-arrow {
  width: 25px;
  height: 25px;
  color: white;
  border-radius: 50%;
  transition: all 1s ease-in-out 0s;
}

.experience__expand-arrow:hover {
  color: black;
  background-color:white;
}

.experience__expand-arrow-flip {
  rotate: 180deg;
}

.experience__uva-xp-link {
  text-decoration: underline;
}

.experience__resume-link {
  color: white;
  font-size: 30px;
  margin: 2vh auto;
  transition: all 1s ease 0s;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.experience__resume-link:hover {
  font-size: 35px;
}

/* UVA EXPERIENCE SECTION */

.uvaexperience {
  display: block;
  position: relative;
  align-content: center;
  background-color: white;
  min-height: 100vh;
  min-width: 415px;
  overflow: hidden;
}

.uvaexperience__return-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 4vh 0 0 3vw;
}

.uvaexperience__return-icon {
  font-size: min(12vw, 100px);
  color: rgb(239, 239, 239);
  opacity: .9;
  transition: all 1s ease 0s;
}

.uvaexperience__return-icon:hover {
  color: rgb(175, 175, 175);
}

.uvaexperience__carousel-container {
  display: block;
  position: relative;
  min-height: 100vh;
  /* align-content: center; */
  margin: 4vh 0 0 0;
  width: 100%;
}

.uvaexperience__carousel {
  width: 100vw;
  margin: 0 0 2vh auto;
}

.slick-list {
  overflow: visible !important;
  min-width: 415px;
}

.uvaexperience__carousel-arrow-wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin: auto;
}

.uvaexperience__carousel-arrow {
  color: rgb(239, 239, 239);
  opacity: .5;
  transition: all 1s ease 0s;
  font-size: min(20vw, 250px);
}

.uvaexperience__carousel-arrow:hover {
  color: rgb(147, 147, 147);
}

.uvaexperience__gradient {
  /* background: linear-gradient(160deg, #ff9000 25%, #ffffff 44%, #0c00ff 58%, #ffffff 84%, #ff9000 100%); */
  background: linear-gradient(120deg, #ff9000, #ffffff, #050150e2, #ffffff, #ff9000);
  background-size: 300% 300%;
  animation: gradient 25s ease-in-out infinite;
}
@keyframes gradient {
  0%{background-position: 0% 20%}
  50%{background-position: 100% 80%}
  100%{background-position: 0% 20%}
}

/* UVA EXPERIENCE CARD SECTION */

.uvaexperience__card {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  min-height: 250px;
  max-height: 450px;
  height: auto;
  min-width: 300px;
  max-width: 350px;
  border-color:lightgray;
  border-radius: 30px;
  /* border-width: 1px; */
  margin-right: 40px;
  position: relative;
  box-shadow: -2px 2px 5px black;
}

.uvaexperience__card-pic {
  object-fit: cover;
  height: var(--uva-experience-carousel-height);
  width: 100%;
  border-radius: 30px 30px 0 0;
}

.uvaexperience__card-blurb {
  font-size: 1rem;
  margin: 5px 10px 10px 10px;
  text-align: center;
}

/* PROJECTS SECTION */

.projects__center-grid {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  padding: 8vh 2vw;
  /* background: linear-gradient(0deg, darkblue 1%, rgb(58, 0, 58) 7%, white 20%, white 80%, rgb(58, 0, 58) 92%, darkblue 99%); */
  /* height: 100vh; */
}

.projects__container {
  display: grid;
  padding: 10px;
  grid-template-columns: repeat(3, minmax(250px, 300px));
  gap: 25px;
  grid-template-rows: repeat(6, minmax(75px, auto));
  padding: 20px;
  align-content: center;
  margin: auto;
}
@media screen and (max-width: 800px) {
  .projects__container{
    grid-template-columns: repeat(2, minmax(250px, 300px));
    grid-template-rows: repeat(9, minmax(75px, auto));
  }
}

.projects__card {
  display: flex;
  align-items: flex-start;
  /* justify-content: center; */
  grid-row: span 1;
  grid-column: span 1;
  border-radius: 10px;
  border-width: 2px;
  background-color: white; 
  box-shadow: -2px 2px 6px black;
  flex-flow: column nowrap;
  /* padding: 10px; */
}

.projects__card-header-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  /* margin: 10px 0; */
  background: linear-gradient(180deg, rgb(237, 237, 237), white);
  width: 100%;
}

.projects__card-header-title {
  font-size: 16px;
}

/* UNIFOUNDERS CARD SECTION */

.projects__unifounders-card {
  grid-row: span 4;
  grid-column: span 2;
  order: 0;
  flex-flow: column nowrap;
  /* align-items: center; */
  justify-content: flex-start;
  overflow: hidden;
}

.unifounderscard__header-container {
  display: flex;
  flex-flow: row nowrap;
  padding: 0px 10px;
  margin-top: -10px;
}

.unifounderscard__title {
  color: #04555E;
  font-size: 80px;
  font-weight: 550;
  margin: 0px 15px -10px 15px;
  /* margin-bottom: var(--title-line-height); */
  /* text-align: center; */
}

.unifounderscard__icon {
  object-fit: contain;
  width: 70px;
}

.unifounderscard__image-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.unifounderscard__iframe {
  height: 100%;
}

.unifounderscard__image {
  object-fit: cover;
  border-radius: 0 0 10px 10px;
  height: 100%;
}

/* TECHcAL CARD SECTION */

.projects__tech-arsenal-card {
  grid-row: span 1;
  order: 1;
  /* background: linear-gradient(120deg, teal, white); */
}


/* SOFT SKILLS CARD SECTION */

.projects__soft-skills-card {
  grid-row: span 1;
  order: 3;
}


/* PRINCIPLES CARD SECTION */

.projects__principles-card {
  grid-row: span 2;
  order: 2;
}

.projects__principles-embed {
  width: 100%;
  position: relative;
  height: 100%;
  border-radius: 0 0 10px 10px;
}

.principles__new-tab-icon {
  position: absolute;
  z-index: 1;
  bottom: 4%;
  right: 2%;
  animation: bounce 1.3s ease-out infinite 3s;
}

@keyframes bounce { 
  0%, 20%, 50%, 80%, 100% {transform: translateY(0);} 
  40% {transform: translateY(-20px);} 
  60% {transform: translateY(-5px);} 
}


/* UNIVERSITY EXPERIENCE CARD SECTION */

.projects__uva-card {
  grid-column: span 2;
  grid-row: span 2;
  order: 5;
  width: 100%;
  overflow: hidden;
  max-height: 300px;
}

.projects__uva-experience-component-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /* transform: scale(.5, .5); */
  width: 100%;
  height: 100%;
  border-radius: 0 0 10px 10px;
}

.projects__uva-experience-component {
  position: relative;
  width: 100%;
  max-height: 300px;
  bottom: 250px;
}


/* ARTICLES CARD SECTION */

.projects__articles-card {
  grid-row: span 2;
  order: 4;
  object-fit: fill;
  overflow: hidden;
  padding: auto;
  max-height: 300px;
}

.articles__iframe {
  height: 100%;
}

@media screen and (max-width: 800px) {
  .projects__articles-card {
    order: 2;
  }
}

.multi-carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.carousel-wrapper {
  --time: 80s;
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-mask-image: linear-gradient(90deg, transparent, #fff 20%, #fff 80%, transparent);
  mask-image: linear-gradient(90deg, transparent, #fff 20%, #fff 80%, transparent);
}

.carousel-forward {
  white-space: nowrap;
  animation: carousel-animation-forward var(--time) linear infinite;
  animation-delay: calc(var(--time) * -1);
}

.carousel-forward:nth-child(2) {
  animation: carousel-animation-forward2 var(--time) linear infinite;
  animation-delay: calc(var(--time) / -2);
}

.carousel-backward {
  white-space: nowrap;
  animation: carousel-animation-backward var(--time) linear infinite;
  animation-delay: calc(var(--time) * -1);
}

.carousel-backward:nth-child(2) {
  animation: carousel-animation-backward2 var(--time) linear infinite;
  animation-delay: calc(var(--time) / -2);
}

@keyframes carousel-animation-forward {
  0%
  {
    transform: translateX(100%)
  }
  100%
  {
    transform: translateX(-100%)
  }
}
@keyframes carousel-animation-forward2 {
  0%
  {
    transform: translateX(0%)
  }
  100%
  {
    transform: translateX(-200%)
  }
}
@keyframes carousel-animation-backward {
  0%
  {
    transform: translateX(-100%)
  }
  100%
  {
    transform: translateX(100%)
  }
}

@keyframes carousel-animation-backward2 {
  0%
  {
    transform: translateX(-200%)
  }
  100%
  {
    transform: translateX(0%)
  }
}

.carousel-card {
  display: inline-flex;
  margin: 5px;
  background: black;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  transition: .5s;
  letter-spacing: .2em;
}

.carousel-card:hover {
  background: rgb(1, 1, 116);
  cursor: default;
}

/* PROJECTS BOUNCING LOGOS */

.projects__bouncing-logo {
  width: 20vw;
  max-width: 150px;
  z-index: -1;
  height: auto;
  position: absolute;
  opacity: .5;
  animation: moveX 10s linear 0s infinite alternate, moveY 17s linear 0s infinite alternate;
}
@keyframes moveX {
  from { left: 0vw; } to { left: 80vw; }
}

@keyframes moveY {
  from { top: 55vh; } to { top: 85vh; }
}

/* CONTACT SECTION */

.contact {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  /* min-height: 100vh; */
  height: 100%;
  overflow: scroll;
}
.contact-top {
  min-height: 50vh;
  height: 100%;
  width: 100%;
  background: linear-gradient(180deg, darkblue, rgb(58, 0, 58), black 25%);
  padding-bottom: 1vh;
}
.contact-bottom {
  min-height: 50vh;
  height: 100%;
  width: 100%;
  /* background: white; */
  background: linear-gradient(180deg, black 5%,white 95%);
  z-index: -1;
}


.contact__title {
  font-size: 18vw;
  color: white;
  margin: 2vh 2vw;
}

.contact__media-icons-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 2vh 2vw;
}

.contact__icon {
  width: 20vw;
  /* min-width: 180px; */
  max-width: 200px;
  height: auto;
  color: black;
  background-color: white;
  border-radius: 20px;
  margin: 0 2vw;
  transition: background-color 0.5s ease-in;
  transition: color 0.5s ease-in;
  transition: rotate 0.5s ease;
}

.contact__icon:hover {
  background-color: black;
  color: white;
  /* width: 6vw; */
  rotate: 360deg;
}

