@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --title-line-height: calc(-.6 * 0.5em);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background: white;
  min-height: 100vh;
  scroll-behavior: smooth;
}

.page-wrapper {
  min-height: 100%;
}

.floating-nav-container{
  position: fixed;
  right: 1%;
  top: 5%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  z-index: 1;

}

.floating-nav-button {
  position: relative;
  margin: 1vh;
  opacity: .6;
  color: gray;
  font-size: 50px;
  transition: all 1s ease 0;
}

.floating-nav-button:hover {
  opacity: .9;
  cursor: pointer;
}

ul.slides {
  display: block;
  height: 100%;
}

li.slide {
  position: relative;
}

/* HOME SECTION */

.home {
  overflow: hidden;
  position: relative;
  min-height: 100vh;
}

.home-first-name {
  margin-top: var(--title-line-height);
  position: absolute;
  margin-left: 2vh;
  font-size: 370px;
  text-shadow: -1px 3px 2px black;
}

.home-last-name {
  margin-top: 45vh;
  margin-left: 50vh;
  margin-bottom: var(--title-line-height);
  position: absolute;
  color: white;
  font-size: 420px;
  text-shadow: -1px 3px 2px black;
}

.bg-img{
  position: absolute;
  min-height: 700px;
  max-height: 1000px;
  z-index: -1;
  object-fit: cover;
}

.home-attribute-container {
  display: grid;
  position: absolute;
  margin-left: 10vh;
  margin-top: 47vh;
}

.home-attribute-title {
  font-size: 25px;
  position: relative;
}

.home-current-status {
  font-size: 20px;
  position: relative;
  color: white;
}

.no-show {
  display: none;
}

/* ABOUT SECTION */

.about {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  position: relative;
  min-height: 100vh;
  background-color: white;
}

.about__header-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  margin: 3vh 3vw 1vh 3vw;

}

.about__headshot {
  border-radius: 100px;
  max-width: 22vw;
  max-height: 100%;
  position: relative;
  margin-right: 3vw;
}

.about__title {
  margin-bottom: var(--title-line-height);
  margin-top: var(--title-line-height);
  font-size: 20vw;
}

.about__title-media-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  margin: 0 10vw 0 4vw;
}

.about__media-icons-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.about__icon {
  width: 5vw;
  min-width: 60px;
  max-width: 100px;
  height: auto;
  margin: 0 3vh;
  background-color: black;
  color: white;
  border-radius: 20px;
  transition: background-color 0.5s ease-in;
  transition: color 0.5s ease-in;
  transition: rotate 0.5s linear;
}

.about__icon:hover {
  background-color: white;
  color: black;
  /* width: 6vw; */
  rotate: 360deg;
}

.about__content-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  margin: 0 5vh 0 5vw;
}
.about__content-section {
  margin: 10px 0px;
  font-size: 4.2vw;
  text-align: center;
}
@media screen and (min-width: 700px) {
  .about__content-section {
     font-size: 30px;
  }
}

/* EXPERIENCE SECTION */

.experience {
  --card-width: 90vw;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  position: relative;
  background-color: black;
  min-height: 100vh;
}

.experience__title {
  font-size: 15vw;
  margin: 0 10vw;
  text-wrap: nowrap;
  color: white;
}

.experience__card-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.experience__card-subcontainer {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.experience__card {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  border-radius: 7px;
  background-color: white;
  margin: 2vh 5vw;
  width: var(--card-width);
  max-height: 60px;
  transition: border-radius .5s ease-out 2.0s;
}

.experience__card-expand {
  border-radius: 7px 7px 0px 0px;
  transition: border-radius .1s ease-out 0s;
}

.experience__card-divider1 {
  border-left: 3px solid black;
  height: 40px;
  margin: 10px 2px;
}

.experience__card-divider2 {
  border-left: 2px solid black;
  height: 40px;
  margin: 10px 2px;
}

.experience__card-divider3 {
  border-left: 1px solid black;
  height: 40px;
  margin: 10px 2px;
}

.experience__card-time {
  margin: 0px 2vw;
  font-size: 25px;
  width: 20vw;
  min-width: 230px;
}

.experience__card-organization-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  margin: 0px 2vw;
  width: 20vw;
  min-width: 200px;
}

.experience__card-organization-logo-overflow-container {
  overflow: hidden;
  max-width: 185px;
  max-height: 60px;
  align-content: center;
  margin: auto;
}

.experience__card-organization-logo {
  width: 208px;
  height: 208px;
  overflow: hidden;
  margin: auto;
  opacity: .1;
}

.experience__card-organization {
  margin: 0px 1vw;
  font-size: 20px;
  z-index: 1;
  position: absolute;
}

.experience__card-position {
  margin: 0px 2vw;
  font-size: 16px;
  width: 20vw;
  min-width: 230px;
}

.experience__card-location {
  margin: 0px 2vw;
  font-size: 16px;
  min-width: 130px;
}

.experience__expand-container {
  background-color: white;
  overflow: hidden;
  width: var(--card-width);
  margin-top: -2vh;
  transition: all 1s ease-in-out 0s;
  border-radius: 0 0 7px 7px;
  max-height: 0px;
}

.experience__expand-container-open {
  max-height: 400px;
  transition: all 1s ease-in-out 0s;
  padding: 0px 20px 20px 30px;
  list-style-type: circle;
}

.experience__expand-arrow {
  width: 25px;
  height: 25px;
  color: white;
  border-radius: 50%;
  transition: all 1s ease-in-out 0s;
}

.experience__expand-arrow:hover {
  color: black;
  background-color:white;
}

.experience__expand-arrow-flip {
  rotate: 180deg;
}

.experience__uva-xp-link {
  text-decoration: underline;
}

.experience__resume-link {
  color: white;
  font-size: 30px;
  margin: 2vh auto;
  transition: all 1s ease 0s;
}

.experience__resume-link:hover {
  font-size: 35px;
}

/* UVA EXPERIENCE SECTION */

.uvaexperience {
  display: block;
  align-content: center;
  background-color: white;
  min-height: 100vh;
}

.uvaexperience__return-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 4vh 0 0 3vw;
}

.uvaexperience__return-icon {
  font-size: 10vw;
  color: rgb(239, 239, 239);
  opacity: .9;
  transition: all 1s ease 0s;
}

.uvaexperience__return-icon:hover {
  color: rgb(175, 175, 175);
}

.uvaexperience__carousel-container {
  display: block;
  position: relative;
  min-height: 100vh;
  /* align-content: center; */
  margin: 4vh 0 0 0;
  width: 100%;
}

.uvaexperience__carousel {
  width: 100vw;
  margin: 0 0 2vh auto;
}

.uvaexperience__carousel-arrow-wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin: auto;
}

.uvaexperience__carousel-arrow {
  color: rgb(239, 239, 239);
  opacity: .5;
  transition: all 1s ease 0s;
  font-size: 300px;
}

.uvaexperience__carousel-arrow:hover {
  color: rgb(175, 175, 175);
}

.uvaexperience__gradient {
  /* background: linear-gradient(160deg, #ff9000 25%, #ffffff 44%, #0c00ff 58%, #ffffff 84%, #ff9000 100%); */
  background: linear-gradient(120deg, #ff9000, #ffffff, #0a02a1e2, #ffffff, #ff9000);
  background-size: 300% 300%;
  animation: gradient 25s ease-in-out infinite;
}
@keyframes gradient {
  0%{background-position: 0% 20%}
  50%{background-position: 100% 80%}
  100%{background-position: 0% 20%}
}


/* UVA EXPERIENCE CARD SECTION */

.uvaexperience__card {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  min-height: 450px;
  max-height: 450px;
  max-width: 300px;
  border-color:lightgray;
  border-radius: 30px;
  border-width: 1px;
  margin-right: 40px;
  position: relative;
  box-shadow: -.5px 0px 1px black;
}

.uvaexperience__card-pic {
  object-fit: cover;
  height: 40vh;
  width: 100%;
  border-radius: 30px 30px 0 0;
}

.uvaexperience__card-blurb {
  font-size: 18px;
  margin: 5px 10px 10px 10px;
  text-align: center;
}

/* PROJECTS SECTION */

.projects__container {
  display: grid;
  padding: 10px;
}

.projects__unifounders-card {

}

.projects__tech-arsenal-card {

}

.projects__soft-skills-card {

}

.projects__uva-card {

}

.projects__principles-card {

}

/* CONTACT SECTION */

.contact {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  min-height: 100vh;
  background-color: black;
  overflow: scroll;
}

.contact__title {
  font-size: 18vw;
  color: white;
  margin: 2vh 2vw;
}

.contact__media-icons-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 2vh 2vw;
}

.contact__icon {
  width: 20vw;
  /* min-width: 180px; */
  max-width: 200px;
  height: auto;
  color: black;
  background-color: white;
  border-radius: 20px;
  margin: 0 2vw;
  transition: background-color 0.5s ease-in;
  transition: color 0.5s ease-in;
  transition: rotate 0.5s ease;
}

.contact__icon:hover {
  background-color: black;
  color: white;
  /* width: 6vw; */
  rotate: 360deg;
}

